<footer>
    
    <div align="center">
    
        <h3>Thanks for visiting my portfolio! ❤️🤗 </h3>
        
        <p> 
            I'm always open to discussing data analytics opportunities, collaborations, and continuous learning. <br>
            If you'd like to discuss my projects or opportunities in data analytics, <br>
            feel free to connect with me on LinkedIn or reach out via email.
        </p>
        
        <p>
        
            <a href="mailto:ehiremhenukpebor@gmail.com">📧 Email</a>
            
            •
            
            <a href="https://www.linkedin.com/in/ehiremhen-ukpebor/">💼 LinkedIn</a>
            
            •
            
            <a href="https://github.com/EhiUkpebor001">💻 GitHub</a>
        
        </p>
        
        <p> 
          © {{ site.time | date: "%Y" }}
          Ehiremhen Ukpebor
        </p>
    
    </div>

</footer>
