<footer>
    
    <div align="center">
    
        <h3>Thanks for visiting my portfolio!</h3>
        
        <p> I'm always open to discussing data analytics opportunities, <br> collaborations, and continuous learning. </p>
        
        <p>
        
            <a href="mailto:ehiremhenukpebor@gmail.com">📧 Email</a>
            
            •
            
            <a href="https://www.linkedin.com/in/ehiremhen-ukpebor/">💼 LinkedIn</a>
            
            •
            
            <a href="https://github.com/EhiUkpebor001">💻 GitHub</a>
        
        </p>
        
        <p> 
          © {{ site.time | date: "%Y" }}
          Ehiremhen Ukpebor
        </p>
    
    </div>

</footer>
