---
---

@import "{{ site.theme }}";

/* ========= GENERAL ========= */

body{
    background:#F8FAFC;
    color:#1F2937;
    font-family:'Segoe UI',sans-serif;
}

.page-content{
    max-width:1200px;
}

.page-header {
    background: linear-gradient(135deg, #1E3A8A, #2563EB);
    color: white;
}

/* ========= HEADINGS ========= */

h1,h2,h3{
    color:#1E3A8A;
}

/* ========= LINKS ========= */

a{
    color:#2563EB;
    text-decoration:none;
}

a:hover{
    color:#1D4ED8;
}

/* ========= IMAGES ========= */

.profile{
    border-radius:50%;
    width:170px;
    border:5px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

/* ========= BUTTON ========= */

.button{
    display:inline-block;
    padding:12px 24px;
    background:#2563EB;
    color:white;
    border-radius:8px;
    font-weight:600;
    margin:10px;
}

.button:hover{
    background:#1D4ED8;
    color:white;
    text-decoration:none;
}

/* ========= PROJECT CARDS ========= */

.card{
    background:white;
    padding:25px;
    border-radius:14px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    margin:30px 0;
}

/* ========= FOOTER ========= */

.site-footer{
    margin-top:80px;
    padding:40px;
    text-align:center;
    background:#F8FAFC;
    color:#64748B;
    font-size:15px;
}

.site-footer a{
    color:#2563EB;
    font-weight:600;
}

.site-footer a:hover{
    color:#1D4ED8;
}

.card img{
    border-radius:10px;
}
