/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
    color:#1f2937;
}

/* NAVIGATION */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.navbar nav a{
    margin-left:30px;
    color:#1f2937;
    text-decoration:none;
    font-weight:500;
}

.navbar nav a:hover{
    color:#1b4f72;
}

/* CONTENT */

.container{
    max-width:1200px;
    margin:auto;
    padding:60px 30px;
}

/* FOOTER */

footer{
    margin-top:80px;
    text-align:center;
    padding:40px;
    background:#0f2d52;
    color:white;
}

/* ALL IMAGES */

img{
    max-width:100%;
    height:auto;
}

/* PROFILE IMAGE */

.profile{
    width:170px;
    height:170px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin:auto;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

/* DASHBOARD IMAGES */

.dashboard{
    width:100%;
    max-width:650px;
    display:block;
    margin:25px auto;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}
